[flake8]
ignore = D100,  # missing docstring in public module
         D101,  # Missing docstring in public class
         D102,  # Missing docstring in public method
         D103,  # Missing docstring in public function
         D105,
         D107,  # missing docstring in __init__
         D200,  # one line docstring should fit on one line with quotes
         D203,  # 1 blank line required before class docstring
         D205,  # blank line required after description (in docstrings)
         D401,  # First line should be in imperative mood; try rephrasing
         D403,  # First word of the first line should be properly capitalized
         D413,  # Missing blank line after last section
         H101,
         H238,
         H301,
         H304,
         H404,
         H405,
         E114
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # ...or test cache directories
    .pytest_cache,
    # Ignore virtualenv
    ENV,
    # Ignore tox directory
    .tox,
    # Ignore .eggs when using with pip -e
    .eggs
max-line-length = 99
per-file-ignores = __init__.py: D104, F401, H306
