{
  "openapi": "3.1.1",
  "info": {
    "summary": "Manage your UpCloud account and resources.",
    "title": "UpCloud API",
    "description": "UpCloud is a leading European cloud service provider with a global cloud platform spanning four continents. UpCloud offers Cloud Servers, Managed Kubernetes, Managed Databases, Object Storage and more. This API can be used to manage your UpCloud account and resources programmatically.\n\n> **Note:** This document is a work-in-progress preview, provided for early access and feedback. It is subject to change without notice, including backwards incompatible changes, for example for tooling such as code generators.",
    "termsOfService": "https://upcloud.com/terms-of-service/",
    "contact": {
      "name": "UpCloud",
      "url": "https://upcloud.com",
      "email": "hello@upcloud.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT.html"
    },
    "version": "0.0.103"
  },
  "servers": [
    {
      "url": "https://api.upcloud.com"
    }
  ],
  "paths": {
    "/1.3/account": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Account details",
        "description": "Returns account details for the authenticated user",
        "operationId": "accountDetails",
        "responses": {
          "200": {
            "$ref": "#/components/responses/accountDetails200"
          },
          "default": {
            "$ref": "#/components/responses/accountDetailsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/billing/summary/{year}-{month}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get monthly billing summary with resource details",
        "description": "Returns a billing summary grouped by resource, including billing detail changes during the specified month. The API user must have permission to read billing details.",
        "operationId": "getMonthlyDetailedBillingSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountGetMonthlyDetailedBillingSummaryYear"
          },
          {
            "$ref": "#/components/parameters/accountGetMonthlyDetailedBillingSummaryMonth"
          },
          {
            "$ref": "#/components/parameters/accountGetMonthlyDetailedBillingSummaryUsername"
          },
          {
            "$ref": "#/components/parameters/accountGetMonthlyDetailedBillingSummaryResourceId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/accountGetMonthlyDetailedBillingSummary200"
          },
          "default": {
            "$ref": "#/components/responses/accountGetMonthlyDetailedBillingSummaryDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/billing_summary/{year}-{month}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get monthly billing summary",
        "description": "Returns a billing summary for the specified month. The API user must have permission to read billing details. This endpoint is deprecated; use the monthly billing summary with resource details instead.",
        "operationId": "getMonthlyBillingSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountGetMonthlyBillingSummaryYear"
          },
          {
            "$ref": "#/components/parameters/accountGetMonthlyBillingSummaryMonth"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/accountGetMonthlyBillingSummary200"
          },
          "default": {
            "$ref": "#/components/responses/accountGetMonthlyBillingSummaryDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/current_network_usage": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get current network usage",
        "description": "Returns the latest Network Transfer Pool usage report for the account.",
        "operationId": "getCurrentNetworkUsage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/accountGetCurrentNetworkUsage200"
          },
          "default": {
            "$ref": "#/components/responses/accountGetCurrentNetworkUsageDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/list": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "List accounts",
        "description": "Returns the main account and its subaccounts. Account listing is available only to the main account.",
        "operationId": "listAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/listAccountsLabel"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listAccounts200"
          },
          "default": {
            "$ref": "#/components/responses/listAccountsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/ms_lma": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Create Microsoft LMA signing link",
        "description": "Create a new Microsoft LMA signing link",
        "operationId": "createMSLMASigningLink",
        "responses": {
          "201": {
            "$ref": "#/components/responses/accountCreateMSLMASigningLink201"
          },
          "default": {
            "$ref": "#/components/responses/accountCreateMSLMASigningLinkDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/network_top_usage": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get top network usage",
        "description": "Returns the resources with the highest network usage.",
        "operationId": "getAccountNetworkTopUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/getAccountNetworkTopUsageFrom"
          },
          {
            "$ref": "#/components/parameters/getAccountNetworkTopUsageTo"
          },
          {
            "$ref": "#/components/parameters/getAccountNetworkTopUsageService"
          },
          {
            "$ref": "#/components/parameters/getAccountNetworkTopUsageZone"
          },
          {
            "$ref": "#/components/parameters/getAccountNetworkTopUsageAccumulate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAccountNetworkTopUsage200"
          },
          "default": {
            "$ref": "#/components/responses/getAccountNetworkTopUsageDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/network_usage": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get network transfer statistics",
        "description": "Returns network transfer statistics. JSON responses support a maximum time window of 31 days; CSV responses have no time-window limit. Select the output format with the Accept header using application/json or text/csv.",
        "operationId": "getAccountNetworkUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/getAccountNetworkUsageFrom"
          },
          {
            "$ref": "#/components/parameters/getAccountNetworkUsageTo"
          },
          {
            "$ref": "#/components/parameters/getAccountNetworkUsageAccumulate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAccountNetworkUsage200"
          },
          "default": {
            "$ref": "#/components/responses/getAccountNetworkUsageDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/resource-usage": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get resource usage",
        "description": "Returns current resource usage counts for the account.",
        "operationId": "getAccountResourceUsage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAccountResourceUsage200"
          },
          "default": {
            "$ref": "#/components/responses/getAccountResourceUsageDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/resource_billing_summary/{resource_id}/{year}-{month}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get monthly resource billing summary",
        "description": "Returns a billing summary for one resource during the specified month. The API user must have permission to read billing details.",
        "operationId": "getMonthlyResourceBillingSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountGetMonthlyResourceBillingSummaryResourceId"
          },
          {
            "$ref": "#/components/parameters/accountGetMonthlyResourceBillingSummaryYear"
          },
          {
            "$ref": "#/components/parameters/accountGetMonthlyResourceBillingSummaryMonth"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/accountGetMonthlyResourceBillingSummary200"
          },
          "default": {
            "$ref": "#/components/responses/accountGetMonthlyResourceBillingSummaryDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/resource_network_usage": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Get resource transfer statistics",
        "description": "Returns network transfer statistics grouped by resource, service, and zone. JSON responses support a maximum time window of 31 days; CSV responses have no time-window limit. Select the output format with the Accept header using application/json or text/csv.",
        "operationId": "getAccountResourceNetworkUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/getAccountResourceNetworkUsageFrom"
          },
          {
            "$ref": "#/components/parameters/getAccountResourceNetworkUsageTo"
          },
          {
            "$ref": "#/components/parameters/getAccountResourceNetworkUsageService"
          },
          {
            "$ref": "#/components/parameters/getAccountResourceNetworkUsageResourceId"
          },
          {
            "$ref": "#/components/parameters/getAccountResourceNetworkUsageZone"
          },
          {
            "$ref": "#/components/parameters/getAccountResourceNetworkUsageAccumulate"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAccountResourceNetworkUsage200"
          },
          "default": {
            "$ref": "#/components/responses/getAccountResourceNetworkUsageDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/sub": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "Create subaccount",
        "description": "Creates a subaccount for the authenticated main account.",
        "operationId": "createSubaccount",
        "requestBody": {
          "$ref": "#/components/requestBodies/createSubaccount"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/createSubaccount204"
          },
          "default": {
            "$ref": "#/components/responses/createSubaccountDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/account/sub/{username}": {
      "delete": {
        "tags": [
          "account"
        ],
        "summary": "Delete subaccount",
        "description": "Deletes a subaccount from the authenticated main account.",
        "operationId": "deleteSubaccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteSubaccountUsername"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/deleteSubaccount204"
          },
          "default": {
            "$ref": "#/components/responses/deleteSubaccountDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/kubernetes": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "List clusters",
        "description": "Returns a list of Kubernetes clusters.",
        "operationId": "listKubernetesClusters",
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetClusters"
          },
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Create cluster",
        "description": "Creates a new Kubernetes cluster.",
        "operationId": "createKubernetesCluster",
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesPostCluster"
        },
        "responses": {
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "422": {
            "$ref": "#/components/responses/kubernetesUnProcessableEntity"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          },
          "200": {
            "$ref": "#/components/responses/kubernetesPostCluster"
          }
        }
      }
    },
    "/1.3/kubernetes/{uuid}": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Get cluster details",
        "description": "Returns Kubernetes cluster details by given `uuid`.",
        "operationId": "getKubernetesCluster",
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetCluster"
          },
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Delete cluster",
        "description": "Deletes an existing Kubernetes cluster by given `uuid`.",
        "operationId": "deleteKubernetesCluster",
        "responses": {
          "202": {
            "$ref": "#/components/responses/kubernetesDeleteCluster"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Modify cluster",
        "description": "Modifies an existing Kubernetes cluster by given `{uuid}`.",
        "operationId": "modifyKubernetesCluster",
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesPatchCluster"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesPatchCluster"
          },
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/kubernetesUuid"
        }
      ]
    },
    "/1.3/kubernetes/{uuid}/kubeconfig": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Get kubeconfig",
        "description": "Returns kubeconfig for Kubernetes cluster by given `{uuid}`.",
        "operationId": "getKubernetesClusterKubeconfig",
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetClusterKubeconfig"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/kubernetesUuid"
        }
      ]
    },
    "/1.3/kubernetes/{uuid}/available-upgrades": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Get available upgrades",
        "description": "Returns a list of available versions that can be used to upgrade the cluster.",
        "operationId": "getKubernetesClusterAvailableUpgrades",
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetAvailableUpgrades"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Upgrade cluster",
        "description": "Upgrades an existing Kubernetes cluster to specific version.",
        "operationId": "upgradeKubernetesCluster",
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesPostUpgrade"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/kubernetesPostUpgrade"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "422": {
            "$ref": "#/components/responses/kubernetesUnProcessableEntity"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/kubernetesUuid"
        }
      ]
    },
    "/1.3/kubernetes/{uuid}/node-groups": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "List node groups",
        "description": "Returns a list of available node groups of an existing Kubernetes cluster. Cluster is identified by given `{uuid}`.\n\nA node group is a uniform set of worker nodes attached to a cluster.\n",
        "operationId": "listKubernetesClusterNodeGroups",
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetNodeGroups"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Create node group",
        "description": "Creates a new node group to an existing Kubernetes cluster. Cluster is identified by given `{uuid}`.",
        "operationId": "createKubernetesClusterNodeGroup",
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesPostNodeGroup"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/kubernetesPostNodeGroup"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "422": {
            "$ref": "#/components/responses/kubernetesUnProcessableEntity"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/kubernetesUuid"
        }
      ]
    },
    "/1.3/kubernetes/{uuid}/node-groups/{name}": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Get node group details",
        "description": "Returns node group details by given `{node_group_name}`. Cluster is identified by given `{uuid}`.",
        "operationId": "getKubernetesClusterNodeGroup",
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetNodeGroupDetails"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Delete node group",
        "description": "Deletes an existing node group by given Kubernetes cluster `{uuid}` and `{node_group_name}`.",
        "operationId": "deleteKubernetesClusterNodeGroup",
        "responses": {
          "202": {
            "$ref": "#/components/responses/kubernetesDeleteNodeGroup"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "patch": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Modify node group",
        "description": "Modifies an existing node group of a cluster. Cluster is identified by given `{uuid}` and node group by `{node_group_name}`.",
        "operationId": "modifyKubernetesClusterNodeGroup",
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesPatchNodeGroup"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesPatchNodeGroup"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "422": {
            "$ref": "#/components/responses/kubernetesUnProcessableEntity"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/kubernetesUuid"
        },
        {
          "$ref": "#/components/parameters/kubernetesName"
        }
      ]
    },
    "/1.3/kubernetes/{uuid}/node-groups/{name}/{node-name}": {
      "delete": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Delete node group node",
        "description": "Deletes a node group node from a cluster (experimental). Cluster is identified by given `{uuid}`, node group by `{name}`, and node by `{node-name}`.",
        "operationId": "deleteKubernetesClusterNodeGroupNode",
        "responses": {
          "202": {
            "$ref": "#/components/responses/kubernetesDeleteNodeGroupNode"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/kubernetesUuid"
        },
        {
          "$ref": "#/components/parameters/kubernetesName"
        },
        {
          "$ref": "#/components/parameters/kubernetesNodeName"
        }
      ]
    },
    "/1.3/kubernetes/plans": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "List plans",
        "description": "Returns a list of available Kubernetes cluster plans.",
        "operationId": "listKubernetesPlans",
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetPlan"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      }
    },
    "/1.3/kubernetes/versions": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "List versions",
        "description": "Returns a list of available Kubernetes cluster versions.",
        "operationId": "listKubernetesVersions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetVersion"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      }
    },
    "/1.3/kubernetes/{uuid}/authentication": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "List cluster authentication entries",
        "description": "Returns all OIDC authentication issuer configurations for a cluster.",
        "operationId": "listClusterAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesListClusterAuthentication200"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Replace the full cluster authentication configuration",
        "description": "Replaces the entire set of OIDC authentication issuer configurations for a cluster with the supplied JSON list of issuers. The full set is validated before being applied. An empty list clears all issuers.\n",
        "operationId": "setClusterAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesSetClusterAuthentication"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesSetClusterAuthentication200"
          },
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Create a cluster authentication entry",
        "description": "Creates a new OIDC authentication issuer configuration. The new entry is validated together with the cluster's existing entries before being applied. Fails if an entry with the same name already exists.\n",
        "operationId": "createClusterAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesCreateClusterAuthentication"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/kubernetesCreateClusterAuthentication201"
          },
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "409": {
            "$ref": "#/components/responses/kubernetesConflict"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      }
    },
    "/1.3/kubernetes/{uuid}/authentication/import": {
      "put": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Import a full cluster authentication configuration",
        "description": "Replaces the entire set of OIDC authentication issuer configurations for a cluster with the supplied native kube-apiserver v1 AuthenticationConfiguration YAML document. Issuers are named deterministically from their issuer URL host. The top-level `anonymous` field is not supported and any configuration that would drop data is rejected.\n",
        "operationId": "importClusterAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesImportClusterAuthentication"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesImportClusterAuthentication200"
          },
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      }
    },
    "/1.3/kubernetes/{uuid}/authentication/{name}": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Get a cluster authentication entry",
        "operationId": "getClusterAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesUuid"
          },
          {
            "$ref": "#/components/parameters/kubernetesName"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetClusterAuthentication200"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "put": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Update a cluster authentication entry",
        "description": "Updates an existing OIDC authentication issuer configuration. The name in the path is authoritative. The updated entry is validated together with the cluster's other entries before being applied.\n",
        "operationId": "updateClusterAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesUuid"
          },
          {
            "$ref": "#/components/parameters/kubernetesName"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/kubernetesUpdateClusterAuthentication"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesUpdateClusterAuthentication200"
          },
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Delete a cluster authentication entry",
        "description": "Removes an OIDC authentication issuer configuration by name.",
        "operationId": "deleteClusterAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesUuid"
          },
          {
            "$ref": "#/components/parameters/kubernetesName"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/kubernetesDeleteClusterAuthentication204"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      }
    },
    "/1.3/kubernetes/{uuid}/authentication/{name}/kubeconfig": {
      "get": {
        "tags": [
          "kubernetes"
        ],
        "summary": "Get OIDC kubeconfig",
        "description": "Returns a kubeconfig for the cluster whose user authenticates via the kubelogin (`kubectl oidc-login`) exec credential plugin, using the cluster's configured OIDC issuer identified by the `name` path parameter. The plugin (kubelogin) must be installed on the client. No long-lived credential is embedded. The OIDC client secret and any provider-specific kubelogin flags are not injected by the server; the returned kubeconfig includes comments describing how to add them.\n",
        "operationId": "getKubernetesClusterOIDCKubeconfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/kubernetesUuid"
          },
          {
            "$ref": "#/components/parameters/kubernetesName"
          },
          {
            "$ref": "#/components/parameters/getKubernetesClusterOIDCKubeconfigAudience"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/kubernetesGetClusterKubeconfig"
          },
          "400": {
            "$ref": "#/components/responses/kubernetesBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/kubernetesUnAuthorized"
          },
          "404": {
            "$ref": "#/components/responses/kubernetesNotFound"
          },
          "default": {
            "$ref": "#/components/responses/kubernetesInternalServerError"
          }
        }
      }
    },
    "/1.3/currency": {
      "get": {
        "tags": [
          "currency"
        ],
        "summary": "List currencies",
        "description": "Retrieves a list of supported currencies and their exchange rates relative to the account credit currency.",
        "operationId": "listCurrencies",
        "responses": {
          "200": {
            "$ref": "#/components/responses/currencyListCurrencies200"
          },
          "default": {
            "$ref": "#/components/responses/currencyListCurrenciesDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/device/availability": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "Get available passthrough devices",
        "description": "Returns a list of available passthrough devices.",
        "operationId": "getAvailablePassthroughDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/getAvailablePassthroughDevicesZone"
          },
          {
            "$ref": "#/components/parameters/getAvailablePassthroughDevicesType"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getAvailablePassthroughDevices200"
          },
          "default": {
            "$ref": "#/components/responses/getAvailablePassthroughDevicesDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/events/{server_uuid}/{offset},{count}": {
      "get": {
        "tags": [
          "events"
        ],
        "summary": "List events",
        "description": "Retrieves a list of events.",
        "operationId": "listEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/listEventsServerUuid"
          },
          {
            "$ref": "#/components/parameters/listEventsOffset"
          },
          {
            "$ref": "#/components/parameters/listEventsCount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listEvents200"
          },
          "default": {
            "$ref": "#/components/responses/listEventsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/ip_address": {
      "get": {
        "tags": [
          "ip_address"
        ],
        "summary": "List IP addresses",
        "description": "Retrieves a list of IP addresses.",
        "operationId": "listIPAddresses",
        "responses": {
          "200": {
            "$ref": "#/components/responses/listIPAddresses200"
          },
          "default": {
            "$ref": "#/components/responses/listIPAddressesDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "ip_address"
        ],
        "summary": "Add an IP address",
        "description": "Adds a new IP address.",
        "operationId": "addIPAddress",
        "requestBody": {
          "$ref": "#/components/requestBodies/addIPAddress"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/addIPAddress201"
          },
          "default": {
            "$ref": "#/components/responses/addIPAddressDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/ip_address/bulk": {
      "patch": {
        "tags": [
          "ip_address"
        ],
        "summary": "Bulk modify IP addresses",
        "description": "Modifies attributes of multiple IP addresses in a single request.",
        "operationId": "bulkModifyIPAddresses",
        "requestBody": {
          "$ref": "#/components/requestBodies/bulkModifyIPAddresses"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/bulkModifyIPAddresses204"
          },
          "default": {
            "$ref": "#/components/responses/bulkModifyIPAddressesDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/ip_address/{address}": {
      "get": {
        "tags": [
          "ip_address"
        ],
        "summary": "Get IP address",
        "description": "Retrieves details of a specific IP address.",
        "operationId": "getIPAddressDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/getIPAddressDetailsAddress"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getIPAddressDetails200"
          },
          "default": {
            "$ref": "#/components/responses/getIPAddressDetailsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "put": {
        "tags": [
          "ip_address"
        ],
        "summary": "Modify IP address",
        "description": "Modifies attributes of a specific IP address.",
        "operationId": "modifyIPAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/modifyIPAddressAddress"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/modifyIPAddress"
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/modifyIPAddress202"
          },
          "default": {
            "$ref": "#/components/responses/modifyIPAddressDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "delete": {
        "tags": [
          "ip_address"
        ],
        "summary": "Delete IP address",
        "description": "Deletes a specific IP address.",
        "operationId": "deleteIPAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteIPAddressAddress"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/deleteIPAddress204"
          },
          "default": {
            "$ref": "#/components/responses/deleteIPAddressDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "patch": {
        "tags": [
          "ip_address"
        ],
        "summary": "Modify an IP address",
        "description": "Modifies attributes of a specific IP address.",
        "operationId": "patchModifyIPAddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/patchModifyIPAddressAddress"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/patchModifyIPAddress"
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/patchModifyIPAddress202"
          },
          "default": {
            "$ref": "#/components/responses/patchModifyIPAddressDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/network-peering": {
      "get": {
        "tags": [
          "network-peering"
        ],
        "summary": "List peerings",
        "description": "Get a list of all peerings within the current account. Only peerings that refer to a network that the current\naccount has access are returned.\n\nIt is also possible to filter network peering with label URL parameters, e.g.\n`?label=env` or `?label=env%3Dprod`. The URL parameter can be given multiple\ntimes to add more filters (e.g. `?label=env%3Dprod&label=v2`), where\nonly network peering that match all labels are returned.\nLabel keys are matched case insensitively.\n",
        "operationId": "listNetworkPeerings",
        "parameters": [
          {
            "$ref": "#/components/parameters/listNetworkPeeringsUuid"
          },
          {
            "$ref": "#/components/parameters/listNetworkPeeringsNetworkUuidLocal"
          },
          {
            "$ref": "#/components/parameters/listNetworkPeeringsNetworkUuidPeer"
          },
          {
            "$ref": "#/components/parameters/listNetworkPeeringsLabel"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listNetworkPeerings200"
          },
          "default": {
            "$ref": "#/components/responses/listNetworkPeeringsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "network-peering"
        ],
        "summary": "Create peering",
        "description": "Network peerings are used to enable traffic between two networks that can be on different main accounts.\nThe peering must be established both ways before it's considered as active. Peering is only supported between networks\nof type `private`.\n\n**Note**: you should only create peering between accounts and networks you trust. There is no limits on what traffic\ncan flow. The server firewall **has no effect** for `private` type networks.\n\nIt is required that both networks have a *Router* attached to the network.\n",
        "operationId": "createNetworkPeering",
        "requestBody": {
          "$ref": "#/components/requestBodies/createNetworkPeering"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/createNetworkPeering201"
          },
          "400": {
            "$ref": "#/components/responses/createNetworkPeering400"
          },
          "404": {
            "$ref": "#/components/responses/createNetworkPeering404"
          },
          "409": {
            "$ref": "#/components/responses/createNetworkPeering409"
          },
          "default": {
            "$ref": "#/components/responses/createNetworkPeeringDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/network-peering/{peering_uuid}": {
      "get": {
        "tags": [
          "network-peering"
        ],
        "summary": "Get peering",
        "description": "Returns the state of an existing network peering.\n\nNote that the `peer_network` field only contains the network details if the peering has been defined by both accounts.\n",
        "operationId": "getNetworkPeering",
        "parameters": [
          {
            "$ref": "#/components/parameters/getNetworkPeeringPeeringUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getNetworkPeering200"
          },
          "404": {
            "$ref": "#/components/responses/getNetworkPeering404"
          },
          "default": {
            "$ref": "#/components/responses/getNetworkPeeringDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "delete": {
        "tags": [
          "network-peering"
        ],
        "summary": "Delete peering",
        "description": "Deletes a network peering. It is required that the peering is in `disabled` state before delete is possible.\n",
        "operationId": "deleteNetworkPeering",
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteNetworkPeeringPeeringUuid"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/deleteNetworkPeering204"
          },
          "404": {
            "$ref": "#/components/responses/deleteNetworkPeering404"
          },
          "default": {
            "$ref": "#/components/responses/deleteNetworkPeeringDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "patch": {
        "tags": [
          "network-peering"
        ],
        "summary": "Modify peering",
        "description": "Modifies attributes of an existing network peering.",
        "operationId": "modifyNetworkPeering",
        "parameters": [
          {
            "$ref": "#/components/parameters/modifyNetworkPeeringPeeringUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/modifyNetworkPeering"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/modifyNetworkPeering200"
          },
          "400": {
            "$ref": "#/components/responses/modifyNetworkPeering400"
          },
          "404": {
            "$ref": "#/components/responses/modifyNetworkPeering404"
          },
          "default": {
            "$ref": "#/components/responses/modifyNetworkPeeringDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/network": {
      "get": {
        "tags": [
          "network"
        ],
        "summary": "List networks",
        "description": "Get a list of all networks.\n\nIt is also possible to filter networks with label URL parameters, e.g.\n`?label=env` or `?label=env%3Dprod`. URL parameter can be given multiple\ntimes to add more filters (e.g. `?label=env%3Dprod&label=v2`), where\nonly networks that match all labels are returned.\nLabel keys are matched case insensitively.\n",
        "operationId": "listNetworks",
        "parameters": [
          {
            "$ref": "#/components/parameters/listNetworksLabel"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listNetworks200"
          },
          "default": {
            "$ref": "#/components/responses/listNetworksDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "network"
        ],
        "summary": "Create SDN network",
        "description": "Creates a new SDN private network that cloud servers from the same zone can be attached to.",
        "operationId": "createNetwork",
        "requestBody": {
          "$ref": "#/components/requestBodies/createNetwork"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/createNetwork201"
          },
          "default": {
            "$ref": "#/components/responses/createNetworkDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/network/interface": {
      "get": {
        "tags": [
          "network"
        ],
        "summary": "List interfaces",
        "description": "Retrieves a list of network interfaces.",
        "operationId": "listNetworkInterfaces",
        "responses": {
          "200": {
            "$ref": "#/components/responses/listNetworkInterfaces200"
          },
          "default": {
            "$ref": "#/components/responses/listNetworkInterfacesDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "network"
        ],
        "summary": "Create interface",
        "description": "Creates a new network interface.",
        "operationId": "createNetworkInterface",
        "requestBody": {
          "$ref": "#/components/requestBodies/createNetworkInterface"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/createNetworkInterface201"
          },
          "default": {
            "$ref": "#/components/responses/createNetworkInterfaceDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/network/interface/{uuid}": {
      "get": {
        "tags": [
          "network"
        ],
        "summary": "Get interface",
        "description": "Retrieves details of a specific network interface.",
        "operationId": "getNetworkInterfaceDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/getNetworkInterfaceDetailsUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getNetworkInterfaceDetails200"
          },
          "default": {
            "$ref": "#/components/responses/getNetworkInterfaceDetailsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "delete": {
        "tags": [
          "network"
        ],
        "summary": "Delete interface",
        "description": "Deletes a specific network interface.",
        "operationId": "deleteNetworkInterface",
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteNetworkInterfaceUuid"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/deleteNetworkInterface204"
          },
          "default": {
            "$ref": "#/components/responses/deleteNetworkInterfaceDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/network/{uuid}": {
      "get": {
        "tags": [
          "network"
        ],
        "summary": "Get network",
        "description": "Retrieves details of a specific network.",
        "operationId": "getNetworkDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/getNetworkDetailsUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getNetworkDetails200"
          },
          "default": {
            "$ref": "#/components/responses/getNetworkDetailsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "put": {
        "tags": [
          "network"
        ],
        "summary": "Modify network",
        "description": "Modifies the details of a specific SDN private network. The Utility and public networks cannot be modified.\n",
        "operationId": "modifyNetwork",
        "parameters": [
          {
            "$ref": "#/components/parameters/modifyNetworkUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/modifyNetwork"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/modifyNetwork200"
          },
          "default": {
            "$ref": "#/components/responses/modifyNetworkDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "delete": {
        "tags": [
          "network"
        ],
        "summary": "Delete network",
        "description": "Deletes an SDN private network. All attached cloud servers must first be detached before SDN private networks can be deleted. Utility and public networks can only be detached from servers by [Releasing the corresponding IP addresses](https://upcloudltd.github.io/upcloud-openapi-spec/api/ip-address#delete-ip-address).\n",
        "operationId": "deleteNetwork",
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteNetworkUuid"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/deleteNetwork204"
          },
          "default": {
            "$ref": "#/components/responses/deleteNetworkDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/audit-logs": {
      "get": {
        "tags": [
          "audit-logs"
        ],
        "summary": "List audit logs",
        "description": "Returns a list of audit log rows according to the query parameters. Note that this endpoint is paginated by default and the list is limited in results.\n\nPagination\nUpcloud-Total-Count header is included in the response to indicate the total number of audit logs available with the current query parameters (excluding limit and offset). The total count can be used for a number of pagination strategies. limit and offset query parameters can be used to finally paginate the results.",
        "operationId": "listAuditLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/listAuditLogsQ"
          },
          {
            "$ref": "#/components/parameters/listAuditLogsLimit"
          },
          {
            "$ref": "#/components/parameters/listAuditLogsOffset"
          },
          {
            "$ref": "#/components/parameters/listAuditLogsActions"
          },
          {
            "$ref": "#/components/parameters/listAuditLogsOrigins"
          },
          {
            "$ref": "#/components/parameters/listAuditLogsResourceTypes"
          },
          {
            "$ref": "#/components/parameters/listAuditLogsCreatedAfter"
          },
          {
            "$ref": "#/components/parameters/listAuditLogsCreatedBefore"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listAuditLogs200"
          },
          "default": {
            "$ref": "#/components/responses/listAuditLogsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/audit-logs/export": {
      "get": {
        "tags": [
          "audit-logs"
        ],
        "summary": "Export audit logs",
        "description": "Export all audit logs for the authenticated account as CSV or JSON (up to 180 day limit). Note: Use the format parameter to specify output format; only JSON schema is documented here.",
        "operationId": "exportAuditLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/exportAuditLogsFormat"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/exportAuditLogs200"
          },
          "default": {
            "$ref": "#/components/responses/exportAuditLogsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/audit-logs/{cloudEventID}": {
      "get": {
        "tags": [
          "audit-logs"
        ],
        "summary": "Get event details",
        "description": "Returns details of a single audit log event by its cloud event ID.",
        "operationId": "getAuditLog",
        "parameters": [
          {
            "$ref": "#/components/parameters/auditLogsGetAuditLogCloudEventID"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/auditLogsGetAuditLog200"
          },
          "default": {
            "$ref": "#/components/responses/auditLogsGetAuditLogDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/audit-logs/filter-options": {
      "get": {
        "tags": [
          "audit-logs"
        ],
        "summary": "Get filter options",
        "description": "Returns lists of available resource types, actions, and origins for filtering.",
        "operationId": "getFilterOptions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/auditLogsGetFilterOptions200"
          },
          "default": {
            "$ref": "#/components/responses/auditLogsGetFilterOptionsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/partner/accounts": {
      "get": {
        "tags": [
          "partner"
        ],
        "summary": "Get account list",
        "description": "Returns list of accounts associated with the partner.",
        "operationId": "listPartnerAccounts",
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPartnerAccounts200"
          },
          "default": {
            "$ref": "#/components/responses/listPartnerAccountsDefault"
          }
        }
      },
      "post": {
        "tags": [
          "partner"
        ],
        "summary": "Create new account",
        "description": "Creates new UpCloud account that will be linked to partner's existing invoicing.",
        "operationId": "createPartnerAccount",
        "requestBody": {
          "$ref": "#/components/requestBodies/createPartnerAccount"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/createPartnerAccount201"
          },
          "400": {
            "$ref": "#/components/responses/createPartnerAccount400"
          },
          "403": {
            "$ref": "#/components/responses/createPartnerAccount403"
          },
          "409": {
            "$ref": "#/components/responses/createPartnerAccount409"
          },
          "default": {
            "$ref": "#/components/responses/createPartnerAccountDefault"
          }
        }
      }
    },
    "/1.3/permission": {
      "get": {
        "tags": [
          "permission"
        ],
        "summary": "List permissions",
        "description": "Retrieves a list of permissions for sub-accounts to access resources owned by the main account.",
        "operationId": "listPermissions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPermissions200"
          },
          "default": {
            "$ref": "#/components/responses/listPermissionsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "put": {
        "tags": [
          "permission"
        ],
        "summary": "Replace permissions",
        "description": "Replaces the entire set of permissions for sub-accounts to access resources owned by the main account.",
        "operationId": "replacePermissions",
        "requestBody": {
          "$ref": "#/components/requestBodies/replacePermissions"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/replacePermissions200"
          },
          "default": {
            "$ref": "#/components/responses/replacePermissionsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/permission/grant": {
      "post": {
        "tags": [
          "permission"
        ],
        "summary": "Grant permission",
        "description": "Grants a permission for a sub-account to access a resource owned by the main account.",
        "operationId": "grantPermission",
        "parameters": [
          {
            "$ref": "#/components/parameters/grantPermissionSkipTargetCheck"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/grantPermission"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/grantPermission200"
          },
          "default": {
            "$ref": "#/components/responses/grantPermissionDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/permission/revoke": {
      "post": {
        "tags": [
          "permission"
        ],
        "summary": "Revoke permission",
        "description": "Revokes a permission for a sub-account to access a resource owned by the main account.",
        "operationId": "revokePermission",
        "requestBody": {
          "$ref": "#/components/requestBodies/revokePermission"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/revokePermission204"
          },
          "default": {
            "$ref": "#/components/responses/revokePermissionDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/permission/revoke-all-from-target/{target_type}/{target_identifier}": {
      "post": {
        "tags": [
          "permission"
        ],
        "summary": "Revoke all permissions by target",
        "description": "Revokes all permissions for sub-accounts to access a specific resource owned by the main account.",
        "operationId": "revokeAllPermissionsByTarget",
        "parameters": [
          {
            "$ref": "#/components/parameters/revokeAllPermissionsByTargetTargetType"
          },
          {
            "$ref": "#/components/parameters/revokeAllPermissionsByTargetTargetIdentifier"
          },
          {
            "$ref": "#/components/parameters/revokeAllPermissionsByTargetMainAccountId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/revokeAllPermissionsByTarget204"
          },
          "default": {
            "$ref": "#/components/responses/revokeAllPermissionsByTargetDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/permission/revoke-all-from-user/{user}": {
      "post": {
        "tags": [
          "permission"
        ],
        "summary": "Revoke all permissions by user",
        "description": "Revokes all permissions for a specific sub-account to access any resources owned by the main account.",
        "operationId": "revokeAllPermissionsByUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/revokeAllPermissionsByUserUser"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/revokeAllPermissionsByUser204"
          },
          "default": {
            "$ref": "#/components/responses/revokeAllPermissionsByUserDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/plan": {
      "get": {
        "tags": [
          "plan"
        ],
        "summary": "List available plans",
        "description": "Returns a list of available plans. All plans are available in all zones but pricing may differ. See _List prices_ for how to obtain current price list.\n\nIn addition to listed plans, server can be freely configured with \"custom\" plan which allows freely scalable CPU cores, memory amount and storage resources. __Note!__ Custom plans are available for new customers through contact with sales.\n",
        "operationId": "listPlans",
        "responses": {
          "200": {
            "$ref": "#/components/responses/listPlans200"
          },
          "default": {
            "$ref": "#/components/responses/listPlansDefault"
          }
        }
      }
    },
    "/1.3/price": {
      "get": {
        "tags": [
          "price"
        ],
        "summary": "Returns a price list.",
        "description": "Returns a price list.",
        "operationId": "getPrice",
        "parameters": [
          {
            "$ref": "#/components/parameters/getPriceZone"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getPrice200"
          },
          "400": {
            "$ref": "#/components/responses/getPrice400"
          },
          "default": {
            "$ref": "#/components/responses/getPriceDefault"
          }
        }
      }
    },
    "/1.3/router": {
      "get": {
        "tags": [
          "router"
        ],
        "summary": "List routers",
        "description": "Returns a list of all available routers associated with the current account.\n\nIt is also possible to filter routers with label URL parameters, e.g.\n`?label=env` or `?label=env%3Dprod`. URL parameter can be given multiple\ntimes to add more filters (e.g. `?label=env%3Dprod&label=v2`), where\nonly routers that match all labels are returned.\nLabel keys are matched case insensitively.\n",
        "operationId": "listRouters",
        "parameters": [
          {
            "$ref": "#/components/parameters/listRoutersLabel"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listRouters200"
          },
          "default": {
            "$ref": "#/components/responses/listRoutersDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "router"
        ],
        "summary": "Create router",
        "description": "Creates a new router.\nRouters can be used to connect multiple Private Networks. Cloud Servers on any attached network can communicate\ndirectly with each other.\n",
        "operationId": "createRouter",
        "requestBody": {
          "$ref": "#/components/requestBodies/createRouter"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/createRouter201"
          },
          "400": {
            "$ref": "#/components/responses/createRouter400"
          },
          "409": {
            "$ref": "#/components/responses/createRouter409"
          },
          "default": {
            "$ref": "#/components/responses/createRouterDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/router/{router}": {
      "get": {
        "tags": [
          "router"
        ],
        "summary": "Get router",
        "description": "Retrieves details of a specific router.",
        "operationId": "getRouter",
        "parameters": [
          {
            "$ref": "#/components/parameters/getRouterRouter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getRouter200"
          },
          "404": {
            "$ref": "#/components/responses/getRouter404"
          },
          "default": {
            "$ref": "#/components/responses/getRouterDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "delete": {
        "tags": [
          "router"
        ],
        "summary": "Delete router",
        "description": "Deletes a specific router.",
        "operationId": "deleteRouter",
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteRouterRouter"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/deleteRouter204"
          },
          "404": {
            "$ref": "#/components/responses/deleteRouter404"
          },
          "409": {
            "$ref": "#/components/responses/deleteRouter409"
          },
          "default": {
            "$ref": "#/components/responses/deleteRouterDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "patch": {
        "tags": [
          "router"
        ],
        "summary": "Modify router",
        "description": "Modifies attributes of a specific router.\nModifications to static routes of type `service` will be ignored.\n",
        "operationId": "modifyRouter",
        "parameters": [
          {
            "$ref": "#/components/parameters/modifyRouterRouter"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/modifyRouter"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/modifyRouter200"
          },
          "400": {
            "$ref": "#/components/responses/modifyRouter400"
          },
          "404": {
            "$ref": "#/components/responses/modifyRouter404"
          },
          "409": {
            "$ref": "#/components/responses/modifyRouter409"
          },
          "default": {
            "$ref": "#/components/responses/modifyRouterDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server-group": {
      "get": {
        "tags": [
          "server-group"
        ],
        "summary": "List server groups",
        "description": "Retrieves a list of server groups.",
        "operationId": "listServerGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/listServerGroupsLabel"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listServerGroups200"
          },
          "default": {
            "$ref": "#/components/responses/listServerGroupsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "server-group"
        ],
        "summary": "Create server group",
        "description": "Creates a new server group.",
        "operationId": "createServerGroup",
        "requestBody": {
          "$ref": "#/components/requestBodies/createServerGroup"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/createServerGroup200"
          },
          "default": {
            "$ref": "#/components/responses/createServerGroupDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server-group/{uuid}": {
      "get": {
        "tags": [
          "server-group"
        ],
        "summary": "Get server group details",
        "description": "Retrieves details of a specific server group.",
        "operationId": "getServerGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/getServerGroupUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getServerGroup200"
          },
          "default": {
            "$ref": "#/components/responses/getServerGroupDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "delete": {
        "tags": [
          "server-group"
        ],
        "summary": "Delete server group",
        "description": "Deletes a specific server group.",
        "operationId": "deleteServerGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteServerGroupUuid"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/deleteServerGroup204"
          },
          "default": {
            "$ref": "#/components/responses/deleteServerGroupDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "patch": {
        "tags": [
          "server-group"
        ],
        "summary": "Modify server group",
        "description": "Modifies an existing server group.",
        "operationId": "modifyServerGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/modifyServerGroupUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/modifyServerGroup"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/modifyServerGroup200"
          },
          "default": {
            "$ref": "#/components/responses/modifyServerGroupDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server-group/{uuid}/servers": {
      "get": {
        "tags": [
          "server-group"
        ],
        "summary": "List server group members",
        "description": "Retrieves a list of servers that are members of a specific server group.",
        "operationId": "listServerGroupMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/listServerGroupMembersUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listServerGroupMembers200"
          },
          "default": {
            "$ref": "#/components/responses/listServerGroupMembersDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "server-group"
        ],
        "summary": "Add server to group",
        "description": "Adds a server to a specific server group.",
        "operationId": "addServerToGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverGroupAddServerToGroupUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/serverGroupAddServerToGroup"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/serverGroupAddServerToGroup204"
          },
          "default": {
            "$ref": "#/components/responses/serverGroupAddServerToGroupDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server-group/{uuid}/servers/{server_uuid}": {
      "delete": {
        "tags": [
          "server-group"
        ],
        "summary": "Remove server from group",
        "description": "Removes a server from a specific server group.",
        "operationId": "removeServerFromGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverGroupRemoveServerFromGroupUuid"
          },
          {
            "$ref": "#/components/parameters/serverGroupRemoveServerFromGroupServerUuid"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/serverGroupRemoveServerFromGroup204"
          },
          "default": {
            "$ref": "#/components/responses/serverGroupRemoveServerFromGroupDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "List Cloud Servers",
        "description": "Returns the most relevant information for Cloud Servers associated with the current account.",
        "operationId": "listServers",
        "parameters": [
          {
            "$ref": "#/components/parameters/listServersLabel"
          },
          {
            "$ref": "#/components/parameters/listServersUuid"
          },
          {
            "$ref": "#/components/parameters/listServersHost"
          },
          {
            "$ref": "#/components/parameters/listServersDevice"
          },
          {
            "$ref": "#/components/parameters/listServersState"
          },
          {
            "$ref": "#/components/parameters/listServersTag"
          },
          {
            "$ref": "#/components/parameters/listServersSearch"
          },
          {
            "$ref": "#/components/parameters/listServersSortBy"
          },
          {
            "$ref": "#/components/parameters/listServersOrderBy"
          },
          {
            "$ref": "#/components/parameters/listServersLimit"
          },
          {
            "$ref": "#/components/parameters/listServersOffset"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listServers200"
          },
          "400": {
            "$ref": "#/components/responses/listServers400"
          },
          "403": {
            "$ref": "#/components/responses/listServers403"
          },
          "404": {
            "$ref": "#/components/responses/listServers404"
          },
          "409": {
            "$ref": "#/components/responses/listServers409"
          },
          "default": {
            "$ref": "#/components/responses/listServersDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "server"
        ],
        "summary": "Create a new Cloud Server",
        "description": "Creates a new Cloud Server",
        "operationId": "createServer",
        "requestBody": {
          "$ref": "#/components/requestBodies/createServer"
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/createServer202"
          },
          "400": {
            "$ref": "#/components/responses/createServer400"
          },
          "403": {
            "$ref": "#/components/responses/createServer403"
          },
          "404": {
            "$ref": "#/components/responses/createServer404"
          },
          "409": {
            "$ref": "#/components/responses/createServer409"
          },
          "default": {
            "$ref": "#/components/responses/createServerDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/firewall_ruleset_relationships/private/{ruleset_uuid}": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "List Cloud Servers related to a private firewall ruleset",
        "description": "Return Cloud Servers visible to the authenticated account that are related to a private firewall ruleset, including each Cloud Server's private ruleset relationships.",
        "operationId": "listFirewallRulesetRelationships",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverListFirewallRulesetRelationshipsRulesetUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverListFirewallRulesetRelationships200"
          },
          "400": {
            "$ref": "#/components/responses/serverListFirewallRulesetRelationships400"
          },
          "default": {
            "$ref": "#/components/responses/serverListFirewallRulesetRelationshipsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/labels": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "List Cloud Server labels",
        "description": "Returns the unique label key-value pairs used by Cloud Servers accessible to the current account.",
        "operationId": "getLabels",
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverGetLabels200"
          },
          "default": {
            "$ref": "#/components/responses/serverGetLabelsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "Get Cloud Server details",
        "description": "Returns detailed information about a Cloud Server.",
        "operationId": "getServer",
        "parameters": [
          {
            "$ref": "#/components/parameters/getServerUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getServer200"
          },
          "400": {
            "$ref": "#/components/responses/getServer400"
          },
          "403": {
            "$ref": "#/components/responses/getServer403"
          },
          "404": {
            "$ref": "#/components/responses/getServer404"
          },
          "default": {
            "$ref": "#/components/responses/getServerDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "put": {
        "tags": [
          "server"
        ],
        "summary": "Modify an existing Cloud Server",
        "description": "Modifies an existing Cloud Server configuration.",
        "operationId": "modifyServer",
        "parameters": [
          {
            "$ref": "#/components/parameters/modifyServerUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/modifyServer"
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/modifyServer202"
          },
          "400": {
            "$ref": "#/components/responses/modifyServer400"
          },
          "403": {
            "$ref": "#/components/responses/modifyServer403"
          },
          "404": {
            "$ref": "#/components/responses/modifyServer404"
          },
          "409": {
            "$ref": "#/components/responses/modifyServer409"
          },
          "default": {
            "$ref": "#/components/responses/modifyServerDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "delete": {
        "tags": [
          "server"
        ],
        "summary": "Delete a Cloud Server",
        "description": "Deletes a stopped Cloud Server and releases its IP addresses. Deleting backups requires deleting the associated storage devices.",
        "operationId": "deleteServer",
        "parameters": [
          {
            "$ref": "#/components/parameters/deleteServerUuid"
          },
          {
            "$ref": "#/components/parameters/deleteServerStorages"
          },
          {
            "$ref": "#/components/parameters/deleteServerBackups"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/deleteServer204"
          },
          "400": {
            "$ref": "#/components/responses/deleteServer400"
          },
          "403": {
            "$ref": "#/components/responses/deleteServer403"
          },
          "404": {
            "$ref": "#/components/responses/deleteServer404"
          },
          "409": {
            "$ref": "#/components/responses/deleteServer409"
          },
          "default": {
            "$ref": "#/components/responses/deleteServerDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/attach_firewall_ruleset/private": {
      "post": {
        "tags": [
          "server"
        ],
        "summary": "Attach a private firewall ruleset",
        "description": "Attach a private, stateful firewall ruleset to a Cloud Server. The latest ruleset version is selected and applied to private network interfaces.",
        "operationId": "attachPrivateFirewallRuleset",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverAttachPrivateFirewallRulesetUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/serverAttachPrivateFirewallRuleset"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverAttachPrivateFirewallRuleset200"
          },
          "400": {
            "$ref": "#/components/responses/serverAttachPrivateFirewallRuleset400"
          },
          "403": {
            "$ref": "#/components/responses/serverAttachPrivateFirewallRuleset403"
          },
          "404": {
            "$ref": "#/components/responses/serverAttachPrivateFirewallRuleset404"
          },
          "409": {
            "$ref": "#/components/responses/serverAttachPrivateFirewallRuleset409"
          },
          "default": {
            "$ref": "#/components/responses/serverAttachPrivateFirewallRulesetDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/cancel": {
      "post": {
        "tags": [
          "server"
        ],
        "summary": "Cancel a Cloud Server operation",
        "description": "Cancels an operation while the Cloud Server is in maintenance state.",
        "operationId": "cancelServerOperation",
        "parameters": [
          {
            "$ref": "#/components/parameters/cancelServerOperationUuid"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/cancelServerOperation204"
          },
          "400": {
            "$ref": "#/components/responses/cancelServerOperation400"
          },
          "403": {
            "$ref": "#/components/responses/cancelServerOperation403"
          },
          "404": {
            "$ref": "#/components/responses/cancelServerOperation404"
          },
          "409": {
            "$ref": "#/components/responses/cancelServerOperation409"
          },
          "default": {
            "$ref": "#/components/responses/cancelServerOperationDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/cdrom/eject": {
      "post": {
        "tags": [
          "server"
        ],
        "summary": "Eject the CD-ROM image from a Cloud Server",
        "description": "Eject the storage from the Cloud Server's attached CD-ROM device.",
        "operationId": "ejectCDROM",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverEjectCDROMUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverEjectCDROM200"
          },
          "400": {
            "$ref": "#/components/responses/serverEjectCDROM400"
          },
          "403": {
            "$ref": "#/components/responses/serverEjectCDROM403"
          },
          "404": {
            "$ref": "#/components/responses/serverEjectCDROM404"
          },
          "409": {
            "$ref": "#/components/responses/serverEjectCDROM409"
          },
          "511": {
            "$ref": "#/components/responses/serverEjectCDROM511"
          },
          "default": {
            "$ref": "#/components/responses/serverEjectCDROMDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/cdrom/load": {
      "post": {
        "tags": [
          "server"
        ],
        "summary": "Load a CD-ROM image into a Cloud Server",
        "description": "Load a storage of type normal or cdrom into the Cloud Server's attached CD-ROM device. If media is already loaded, it is ejected first.",
        "operationId": "loadCDROM",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverLoadCDROMUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/serverLoadCDROM"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverLoadCDROM200"
          },
          "400": {
            "$ref": "#/components/responses/serverLoadCDROM400"
          },
          "403": {
            "$ref": "#/components/responses/serverLoadCDROM403"
          },
          "404": {
            "$ref": "#/components/responses/serverLoadCDROM404"
          },
          "409": {
            "$ref": "#/components/responses/serverLoadCDROM409"
          },
          "511": {
            "$ref": "#/components/responses/serverLoadCDROM511"
          },
          "default": {
            "$ref": "#/components/responses/serverLoadCDROMDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/detach_firewall_ruleset/private": {
      "post": {
        "tags": [
          "server"
        ],
        "summary": "Detach a private firewall ruleset",
        "description": "Detach a private firewall ruleset from a Cloud Server and reapply private-interface firewall rules.",
        "operationId": "detachPrivateFirewallRuleset",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverDetachPrivateFirewallRulesetUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/serverDetachPrivateFirewallRuleset"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverDetachPrivateFirewallRuleset200"
          },
          "400": {
            "$ref": "#/components/responses/serverDetachPrivateFirewallRuleset400"
          },
          "403": {
            "$ref": "#/components/responses/serverDetachPrivateFirewallRuleset403"
          },
          "404": {
            "$ref": "#/components/responses/serverDetachPrivateFirewallRuleset404"
          },
          "409": {
            "$ref": "#/components/responses/serverDetachPrivateFirewallRuleset409"
          },
          "default": {
            "$ref": "#/components/responses/serverDetachPrivateFirewallRulesetDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/firewall_rule": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "List firewall rules",
        "description": "Return the Cloud Server firewall rules in evaluation order. Changes to firewall rules can take 1-2 minutes to take effect.",
        "operationId": "listFirewallRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverListFirewallRulesUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverListFirewallRules200"
          },
          "400": {
            "$ref": "#/components/responses/serverListFirewallRules400"
          },
          "403": {
            "$ref": "#/components/responses/serverListFirewallRules403"
          },
          "404": {
            "$ref": "#/components/responses/serverListFirewallRules404"
          },
          "default": {
            "$ref": "#/components/responses/serverListFirewallRulesDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "put": {
        "tags": [
          "server"
        ],
        "summary": "Replace firewall rules",
        "description": "Replace the Cloud Server's complete firewall rule chain. Array order determines rule positions. Changes can take 1-2 minutes to take effect.",
        "operationId": "updateFirewallRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverUpdateFirewallRulesUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/serverUpdateFirewallRules"
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/serverUpdateFirewallRules204"
          },
          "400": {
            "$ref": "#/components/responses/serverUpdateFirewallRules400"
          },
          "403": {
            "$ref": "#/components/responses/serverUpdateFirewallRules403"
          },
          "404": {
            "$ref": "#/components/responses/serverUpdateFirewallRules404"
          },
          "409": {
            "$ref": "#/components/responses/serverUpdateFirewallRules409"
          },
          "default": {
            "$ref": "#/components/responses/serverUpdateFirewallRulesDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "post": {
        "tags": [
          "server"
        ],
        "summary": "Create a firewall rule",
        "description": "Create a firewall rule. Rules are evaluated in position order; if position is omitted, the rule is appended. Changes can take 1-2 minutes to take effect.",
        "operationId": "createFirewallRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverCreateFirewallRuleUuid"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/serverCreateFirewallRule"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/serverCreateFirewallRule201"
          },
          "400": {
            "$ref": "#/components/responses/serverCreateFirewallRule400"
          },
          "403": {
            "$ref": "#/components/responses/serverCreateFirewallRule403"
          },
          "404": {
            "$ref": "#/components/responses/serverCreateFirewallRule404"
          },
          "409": {
            "$ref": "#/components/responses/serverCreateFirewallRule409"
          },
          "default": {
            "$ref": "#/components/responses/serverCreateFirewallRuleDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/firewall_rule/{position}": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "Get a firewall rule",
        "description": "Return the firewall rule at the specified one-based position in the Cloud Server rule chain.",
        "operationId": "getFirewallRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverGetFirewallRuleUuid"
          },
          {
            "$ref": "#/components/parameters/serverGetFirewallRulePosition"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverGetFirewallRule200"
          },
          "400": {
            "$ref": "#/components/responses/serverGetFirewallRule400"
          },
          "403": {
            "$ref": "#/components/responses/serverGetFirewallRule403"
          },
          "404": {
            "$ref": "#/components/responses/serverGetFirewallRule404"
          },
          "default": {
            "$ref": "#/components/responses/serverGetFirewallRuleDefault"
          }
        },
        "x-upcloud-visibility": "public"
      },
      "delete": {
        "tags": [
          "server"
        ],
        "summary": "Delete a firewall rule",
        "description": "Delete the firewall rule at the specified one-based position. Remaining rules are renumbered. Changes can take 1-2 minutes to take effect.",
        "operationId": "deleteFirewallRule",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverDeleteFirewallRuleUuid"
          },
          {
            "$ref": "#/components/parameters/serverDeleteFirewallRulePosition"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/serverDeleteFirewallRule204"
          },
          "400": {
            "$ref": "#/components/responses/serverDeleteFirewallRule400"
          },
          "403": {
            "$ref": "#/components/responses/serverDeleteFirewallRule403"
          },
          "404": {
            "$ref": "#/components/responses/serverDeleteFirewallRule404"
          },
          "409": {
            "$ref": "#/components/responses/serverDeleteFirewallRule409"
          },
          "default": {
            "$ref": "#/components/responses/serverDeleteFirewallRuleDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/firewall_ruleset_relationships/private": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "List private firewall ruleset relationships for a Cloud Server",
        "description": "Return all private firewall ruleset relationships configured for a Cloud Server.",
        "operationId": "listPrivateFirewallRulesetRelationships",
        "parameters": [
          {
            "$ref": "#/components/parameters/serverListPrivateFirewallRulesetRelationshipsUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/serverListPrivateFirewallRulesetRelationships200"
          },
          "400": {
            "$ref": "#/components/responses/serverListPrivateFirewallRulesetRelationships400"
          },
          "403": {
            "$ref": "#/components/responses/serverListPrivateFirewallRulesetRelationships403"
          },
          "404": {
            "$ref": "#/components/responses/serverListPrivateFirewallRulesetRelationships404"
          },
          "default": {
            "$ref": "#/components/responses/serverListPrivateFirewallRulesetRelationshipsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/gpus": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "List Cloud Server GPUs",
        "description": "Returns GPUs attached to a Cloud Server.",
        "operationId": "listServerGPUs",
        "parameters": [
          {
            "$ref": "#/components/parameters/listServerGPUsUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/listServerGPUs200"
          },
          "400": {
            "$ref": "#/components/responses/listServerGPUs400"
          },
          "403": {
            "$ref": "#/components/responses/listServerGPUs403"
          },
          "404": {
            "$ref": "#/components/responses/listServerGPUs404"
          },
          "default": {
            "$ref": "#/components/responses/listServerGPUsDefault"
          }
        },
        "x-upcloud-visibility": "public"
      }
    },
    "/1.3/server/{uuid}/networking": {
      "get": {
        "tags": [
          "server"
        ],
        "summary": "Get Cloud Server networking details",
        "description": "Return all network interfaces and IP addresses configured for a Cloud Server.",
        "operationId": "getServerNetworking",
        "parameters": [
          {
            "$ref": "#/components/parameters/getServerNetworkingUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getServerNetworking200"
          },
          "400": {
            "$ref": "#/components/responses/getServerNetworking400"
          },
          "403": {
            "$ref": "#/components/responses/getServerNetworking403"
          },
          "404": {
            "$ref": "#/components/responses/getServerNetworking404"
[...]
